**/preview/
**/preview.*
**/Preview.*
img/backgrounds/preview/
img/character/attack/bubble_trap/attack_bubbles/Preview.gif
img/character/attack/bubble_trap/poison_bubble_default.png
img/character/attack/bubble_trap/preview.gif
img/character/attack/fin_snap/preview
img/character/dead/default_options/animated_rise/preview_dead_animated_rise.gif
img/character/dead/electric_shock/preview
img/character/hurt/electric_shock/preview
img/character/hurt/poisoned/preview
img/character/idle/preview.gif
img/character/long_idle/Preview.gif
img/character/swim/preview
img/enemies/preview
img/UI/preview