.game-container {
  position: relative;
}

.game-overlay {
  max-width: 960px;
  width: 100%;
  max-height: 540px;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/interface/overlay/overlay_menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  z-index: 10;
}

.fullscreen-canvas {
  width: 100%;
  height: 100vh;
}

.title-sign {
  background-image: url('../img/interface/overlay/titleSign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(120px, 32vw, 274px);
  height: clamp(45px, 10vw, 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.game-overlay-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.game-overlay-btn:hover {
  transform: scale(1.1);
}

.f-screen-btn {
  position: absolute;
  width: clamp(32px, 8vw, 60px);
  aspect-ratio: 1 / 1;
}

.f-screen-game-btn {
  background-image: url('../img/interface/overlay/fullscreen_btn.png');
  z-index: 1;
  top: 2%;
  right: 45%;
}

.f-screen-menu-btn {
  background-image: url('../img/interface/overlay/fullscreen_btn.png');
  top: 2%;
  right: 1%;
  z-index: 2;
}

.play-btn {
  background-image: url('../img/interface/overlay/play_btn.png');
  position: absolute;
  top: 32%;
  left: 14%;
  height: clamp(68px, 14vw, 140px);
  width: clamp(60px, 12vw, 120px);
  aspect-ratio: 1 / 1;
  z-index: 2;
}

.controls {
  position: absolute;
  left: 1%;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.control-btn {
  background-image: url('../img/interface/overlay/control_btn.png');
  width: clamp(32px, 8vw, 60px);
  aspect-ratio: 1 / 1;
  z-index: 2;
}

.info-btn {
  background-image: url('../img/interface/overlay/info_btn.png');
  width: clamp(32px, 8vw, 60px);
  aspect-ratio: 1 / 1;
  z-index: 2;
}