.game-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 20;
  height: 423px;
}

.play-container {
  margin: 70px 0px 0px 70px;

}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px;
  gap: 16px;
}

.iface-overlay {
  max-width: 960px;
  width: 100%;
  max-height: 540px;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/interface/overlay/overlay_menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  z-index: 10;
}

.fullscreen-canvas {
  width: 100%;
  height: 100vh;
}

.titleSign {
  background-image: url('../img/interface/overlay/titleSign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 274px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.iface-btn {
  background-image: url('../img/interface/overlay/fullscreen_btn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.iface-btn:hover {
  transform: scale(1.1);
}

.f-screen-btn {
  position: absolute;
  background-image: url('../img/interface/overlay/fullscreen_btn.png');
  width: 60px;
  height: 60px;
  top: 8px;
  right: 8px;
}

.play-btn {
  background-image: url('../img/interface/overlay/play_btn.png');
  width: 120px;
  height: 140px;
}

.control-btn {
  background-image: url('../img/interface/overlay/control_btn.png');
  width: 60px;
  height: 60px;
}

.info-btn {
  background-image: url('../img/interface/overlay/info_btn.png');
  width: 60px;
  height: 60px;
}